<div id="expense-item-container">
  <div id="expense-item-meta">
    <div id="expense-item-meta-title">
      <p class="font-sub-heading">{{ expensesData.expenseTitle }}</p>
    </div>
    <div id="expense-item-meta-value">
      <p class="font-sub-heading">
        {{ expensesData.expenseTotal | currency : "USD" : "symbol" : "1.0-0" }}
      </p>
    </div>
  </div>
  <div id="expense-item-chart">
    <div id="expense-item-chart-bg"></div>
    <div
      id="expense-item-chart-fg"
      [style.width.%]="
        (expensesData.expenseTotal / expensesData.totalBudget) * 100
      "
    ></div>
  </div>
</div>
