#expense-item-container {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#expense-item-meta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#expense-item-meta-value {
  justify-self: end;
}

#expense-item-chart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 6px;
}

#expense-item-chart-bg {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  grid-column: 1/-1;
  grid-row: 1/-1;
  border: 0;
  border-radius: 2px;
}

#expense-item-chart-fg {
  height: 100%;
  background-color: var(--color-primary);
  z-index: 2;
  grid-column: 1/-1;
  grid-row: 1/-1;
  border: 0;
  border-radius: 2px;
}
