<div class="details-form-widget">
  <div class="form-logo">
    <img src="../../../../assets/images/logo-icon.png" />
  </div>
  <div class="details-form-widget-text">
    <p class="font-heading">Create an account<br /></p>
  </div>

  <form [formGroup]="registerAccountForm" (ngSubmit)="onRegisterFormSubmit()">
    <p class="details-form-widget-input first-widget-input">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="text"
          autocomplete="off"
          placeholder="Enter email..."
        />
        <mat-error
          *ngIf="registerAccountForm.controls['email'].errors?.['required']"
        >
          Please provide your email!
        </mat-error>

        <mat-error
          *ngIf="registerAccountForm.controls['email'].errors?.['emailAlreadyInUse']"
        >
          Email is already registered!
        </mat-error>
      </mat-form-field>
    </p>

    <p class="details-form-widget-input">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password1"
          autocomplete="off"
          type="password"
          placeholder="Enter password..."
        />
        <mat-error
          *ngIf="registerAccountForm.controls['password1'].errors?.['required']"
        >
          Please provide a password!
        </mat-error>
      </mat-form-field>
    </p>
    <p class="details-form-widget-input">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="password2"
          autocomplete="off"
          type="password"
          placeholder="Confirm password..."
        />
        <mat-error
          *ngIf="registerAccountForm.controls['password2'].errors?.['passwordsDoNotMatch']"
        >
          The provided passwords do not match!
        </mat-error>
      </mat-form-field>
    </p>

    <p class="details-form-widget-next-btn">
      <button
        [disabled]="registerAccountForm.invalid"
        [style.background]="
          registerAccountForm.valid
            ? 'var(--color-brand-blue)'
            : 'var(--color-brand-blue-disabled)'
        "
        (click)="onRegisterFormSubmit()"
      >
        Sign up
      </button>
    </p>
  </form>
  <div>
    <a class="font-body form-widget-link" [routerLink]="['../login']">
      Already have an account? <span>Sign in</span>
    </a>
  </div>
</div>
