<div class="details-form-widget">
  <div class="form-logo">
    <img src="../../../../assets/images/logo-icon.png" />
  </div>
  <div class="details-form-widget-text">
    <p class="font-heading">Verify Code<br /></p>
    <p class="font-body">
      Please use the code we've just sent to your email to continue.
    </p>
  </div>

  <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode()">
    <p class="details-form-widget-input first-widget-input">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Verification Code</mat-label>
        <input
          matInput
          formControlName="code"
          type="text"
          autocomplete="off"
          placeholder="Enter code..."
        />
        <mat-error *ngIf="verifyCodeForm.controls['code'].errors?.['required']">
          Please provide a recovery code!
        </mat-error>
        <mat-error *ngIf="verifyCodeForm.controls['code'].errors?.['pattern']">
          Please provide a valid code!
        </mat-error>
        <mat-error
          *ngIf="verifyCodeForm.controls['code'].errors?.['minLength']"
        >
          Verification code is too short!
        </mat-error>
      </mat-form-field>
    </p>
    <p></p>

    <p class="details-form-widget-next-btn">
      <button
        [disabled]="verifyCodeForm.invalid"
        [style.background]="
          verifyCodeForm.valid
            ? 'var(--color-brand-blue)'
            : 'var(--color-brand-blue-disabled)'
        "
        (click)="verifyCode()"
      >
        Next
      </button>
    </p>
  </form>
  <div>
    <a class="font-body form-widget-link" [routerLink]="['../login']">
      Already have an account? <span>Sign in</span>
    </a>
  </div>
</div>
