.details-form-widget {
  width: 454px;
  height: 690px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: inline-block;
}

.details-form-widget-input {
  width: 100%;
  text-align: center;
  margin-bottom: 28px;
}
.form-field {
  width: 366px;
  height: 55px;
}

.large-input .form-field {
  height: 110px;
}

.details-form-widget-text {
  text-align: center;
  line-height: 34px;
  margin-top: 71px;

  font-style: normal;
  padding-left: 44px;
  padding-right: 44px;
}

.details-form-widget-title {
  font-family: var(--font-jakarta);
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 18px;
  color: var(--color-tertiary);
}

.details-form-widget-desc {
  font-family: var(--font-jakarta);
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--color-default);
  text-align: center;
  line-height: 24px;
}

.details-form-widget-input {
  margin-top: 32px;
}

.first-widget-input {
  margin-top: 55px;
}

.details-form-widget-help {
  margin-top: 32px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 34px;
  /* or 243% */
  color: var(--color-tertiary);
  text-align: center;
}

.details-form-widget-next-btn {
  text-align: center;
}

.details-form-widget-next-btn button {
  // margin-top: 8px;
  width: 366px;
  height: 60px;
  background: var(--color-primary);
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-family: var(--font-jakarta);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}
.details-form-widget-man-ac-btn {
  text-align: center;
}

.details-form-widget-man-ac-btn button {
  background: none;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #0d3380;
}

.details-form-widget-man-ac-btn button:hover {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 320px) and (max-width: 480px) {
  .details-form-widget {
    width: 100% !important;
    height: 800px;
    padding-bottom: 40px;
    box-shadow: none;
  }
}

// @media screen and (max-width: 425px) {
//   .details-form-widget {
//     width: 100%;
//     height: 100%;
//     box-shadow: none;
//   }
//   .details-form-widget-input {
//     margin-bottom: 18px;
//   }
// }

@media screen and (min-width: 481px) and (max-width: 767px) {
  .details-form-widget {
    width: 100% !important;
    height: 800px;
    padding-bottom: 40px;
    box-shadow: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .details-form-widget {
    width: 100% !important;
    height: 800px;
    padding-bottom: 40px;
    box-shadow: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .details-form-widget {
    width: 100% !important;
    height: 800px;
    padding-bottom: 40px;
    box-shadow: none;
  }
}

@media screen and (min-width: 1441px) {
  .details-form-widget {
    width: 520px;
    height: 690px;
  }
}

@media screen and (max-width: 1440px) {
  .details-form-widget {
    width: 454px;
    height: 559px;
  }
  .details-form-widget-input {
    margin-bottom: 10px;
  }
  .form-field {
    height: 48px;
  }

  .details-form-widget-text {
    margin-top: 20px;
  }

  .first-widget-input {
    margin-top: 42px;
  }
}

@media screen and (max-width: 1024px) {
  .details-form-widget {
    width: 454px;
    height: 559px;
  }
  .details-form-widget-input {
    margin-bottom: 18px;
  }
  .form-field {
    height: 48px;
  }

  .details-form-widget-text {
    margin-top: 50px;
  }

  .first-widget-input {
    margin-top: 42px;
  }
}
