#top-contributors-container {
  //   background-color: red;
  margin-left: 20px;
  padding-left: 20px;
}

.top-contributors-table-product-row {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.top-contributors-table-image-container {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  background-color: var(--color-surface);
}

.top-contributors-table-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
table {
  /* cellspacing */
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th {
  text-align: left;
}

.top-contributors-table-rating-row {
  display: grid;
  grid-template-columns: 14px auto;
  grid-template-rows: auto;
  align-items: center;
}
