<div id="top-contributors-container">
  <div id="top-contributors-title">
    <p class="font-heading">Top contributors</p>
  </div>
  <div id="top-contributors-table-container">
    <table>
      <tr class="font-body">
        <th>Product</th>
        <th>Sold Amount</th>
        <th>Unit Price</th>
        <th>Revenue</th>
        <th>Rating</th>
      </tr>
      <tr class="font-sub-heading">
        <td>
          <div class="top-contributors-table-product-row">
            <div class="top-contributors-table-image-container">
              <img src="../../../../assets/images/product-icon.png" />
            </div>
            <div class="top-contributors-table-title">
              <p>Product A</p>
            </div>
          </div>
        </td>
        <td>200</td>
        <td>$200</td>
        <td>$20,0000</td>
        <td>
          <div class="top-contributors-table-rating-row">
            <div>
              <svg
                width="14"
                height="13"
                viewBox="0 0 14 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7 10.4479L11.326 13L10.178 8.19L14 4.95368L8.967 4.53632L7 0L5.033 4.53632L0 4.95368L3.822 8.19L2.674 13L7 10.4479Z"
                  fill="#F4B263"
                />
              </svg>
            </div>
            <p>5.0</p>
          </div>
        </td>
      </tr>

      <tr class="font-sub-heading">
        <td>
          <div class="top-contributors-table-product-row">
            <div class="top-contributors-table-image-container">
              <img src="../../../../assets/images/product-icon.png" />
            </div>
            <div class="top-contributors-table-title">
              <p>Product A</p>
            </div>
          </div>
        </td>
        <td>200</td>
        <td>$200</td>
        <td>$20,0000</td>
        <td>
          <div class="top-contributors-table-rating-row">
            <div>
              <svg
                width="14"
                height="13"
                viewBox="0 0 14 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7 10.4479L11.326 13L10.178 8.19L14 4.95368L8.967 4.53632L7 0L5.033 4.53632L0 4.95368L3.822 8.19L2.674 13L7 10.4479Z"
                  fill="#F4B263"
                />
              </svg>
            </div>
            <p>5.0</p>
          </div>
        </td>
      </tr>

      <tr class="font-sub-heading">
        <td>
          <div class="top-contributors-table-product-row">
            <div class="top-contributors-table-image-container">
              <img src="../../../../assets/images/product-icon.png" />
            </div>
            <div class="top-contributors-table-title">
              <p>Product A</p>
            </div>
          </div>
        </td>
        <td>200</td>
        <td>$200</td>
        <td>$20,0000</td>
        <td>
          <div class="top-contributors-table-rating-row">
            <div>
              <svg
                width="14"
                height="13"
                viewBox="0 0 14 13"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7 10.4479L11.326 13L10.178 8.19L14 4.95368L8.967 4.53632L7 0L5.033 4.53632L0 4.95368L3.822 8.19L2.674 13L7 10.4479Z"
                  fill="#F4B263"
                />
              </svg>
            </div>
            <p>5.0</p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
