#summary-donut-container {
  width: 100%;
  margin-top: 22px;
  background-color: var(--color-surface);
}

#summary-donut-title p {
  margin: 2px;
  padding: 2px;
}

#summary-donut-chart-container {
  width: 72%;
  height: auto;
}

#summary-donut-chart-container canvas {
  width: 100%;
}
