<div id="summary-donut-container">
  <div id="summary-donut-title">
    <p class="font-heading">Summary</p>
  </div>
  <div id="summary-donut-chart-container">
    <canvas id="donutChart">{{ chart }}</canvas>
  </div>
</div>
