<div class="details-form-widget">
  <div class="form-logo">
    <img src="../../../../assets/images/logo-icon.png" />
  </div>
  <div class="details-form-widget-text">
    <p class="font-heading">Sign in to RBS<br /></p>
    <p class="font-body">Use your email and password to access the system!</p>
  </div>

  <form [formGroup]="logInDetails" (ngSubmit)="onLoginFormSubmit()">
    <p class="details-form-widget-input">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="text"
          autocomplete="off"
          placeholder="Enter email..."
        />

        <mat-error *ngIf="logInDetails.controls['email'].errors?.['required']">
          Please provide your email!
        </mat-error>
        <mat-error
          *ngIf="logInDetails.controls['email'].errors?.['invalidCredentials']"
        >
        </mat-error>
      </mat-form-field>
    </p>
    <p></p>
    <p class="details-form-widget-input">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          autocomplete="off"
          type="password"
          placeholder="Enter password..."
        />
        <mat-error
          *ngIf="logInDetails.controls['password'].errors?.['required']"
        >
          Please provide your password!
        </mat-error>
        <mat-error
          *ngIf="logInDetails.controls['password'].errors?.['minLength']"
        >
          The password is too short!
        </mat-error>
        <mat-error
          *ngIf="logInDetails.controls['password'].errors?.['invalidCredentials']"
        >
        </mat-error>
      </mat-form-field>
    </p>

    <p class="font-body form-widget-link" [routerLink]="['../password-reset']">
      Forgot Password?
    </p>

    <p class="details-form-widget-next-btn">
      <button
        [disabled]="logInDetails.invalid"
        [style.background]="
          logInDetails.valid
            ? 'var(--color-brand-blue)'
            : 'var(--color-brand-blue-disabled)'
        "
        (click)="onLoginFormSubmit()"
      >
        Log in
      </button>
    </p>
  </form>
  <div>
    <a class="font-body form-widget-link" [routerLink]="['../register']"
      >Don't have an account?&nbsp; <span>Sign up</span></a
    >
  </div>
</div>
