#dash-main-container {
  width: 100%;
  height: 100%;
  background-color: #fff;

  //   margin-top: 4px;
}

#dash-main-container div {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  padding-right: 20px;
}
