<div id="dash-main-container">
  <app-summary-stats></app-summary-stats>
  <app-stats-overview></app-stats-overview>
  <div>
    <app-top-contributors></app-top-contributors>
    <app-summary-donut></app-summary-donut>
  </div>
</div>
