<div class="details-form-widget">
  <div class="form-logo">
    <img src="../../../../assets/images/logo-icon.png" />
  </div>
  <div class="details-form-widget-text">
    <p class="font-heading">Create password<br /></p>
    <p class="font-body">
      Create a password for <b>{{ userEmail }}</b>
    </p>
  </div>

  <form [formGroup]="setPasswordForm" (ngSubmit)="resetPassword()">
    <p class="details-form-widget-input first-widget-input">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Create password</mat-label>
        <input
          matInput
          formControlName="password1"
          type="password"
          autocomplete="off"
          placeholder="Create a password..."
        />
        <mat-error
          *ngIf="setPasswordForm.controls['password1'].errors?.['required']"
        >
          Please provide a password!
        </mat-error>
      </mat-form-field>
    </p>
    <p></p>
    <p class="details-form-widget-input">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          formControlName="password2"
          autocomplete="off"
          type="password"
          placeholder="Confirm your password..."
        />
        <mat-error
          *ngIf="setPasswordForm.controls['password2'].errors?.['required']"
        >
          Please confirm your password!
        </mat-error>
        <mat-error
          *ngIf="setPasswordForm.controls['password2'].errors?.['passwordsDoNotMatch']"
        >
          Passwords do not match!
        </mat-error>
      </mat-form-field>
    </p>

    <p class="details-form-widget-next-btn">
      <button
        [disabled]="setPasswordForm.invalid"
        [style.background]="
          setPasswordForm.valid
            ? 'var(--color-brand-blue)'
            : 'var(--color-brand-blue-disabled)'
        "
        (click)="resetPassword()"
      >
        Next
      </button>
    </p>
  </form>
  <div>
    <a class="font-body form-widget-link" [routerLink]="['../register']"
      >Don't have an account?&nbsp; <span>Sign up</span></a
    >
  </div>
</div>
