#advert-container {
  width: 100%;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

#advert-container img {
  width: 100%;
}

#advert-container p {
  margin: 2px;
  padding: 2px;
  text-align: center;
}

#advert-container button {
  margin-top: 10px;
  width: 70%;
  height: 39px;
  background-color: var(--color-brand-blue);
  color: #fff;
  font-family: Sora;
  border: 0;
  border-radius: 8px;
}
