<div id="advert-container">
  <img src="../../../../assets/images/advert.png" />
  <p class="font-heading">Do more</p>
  <p class="font-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor
  </p>
  <button>VIEW TIPS</button>
</div>
