#header-container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 80px;
  align-items: center;
  background-color: #fff;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.03));
  position: fixed;
  top: 4px;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-left: 30px;
  border-radius: 12px 12px 0px 0px;
}

#logo {
  grid-column: 1/5;
  grid-row: 1/-1;
}

#logo:hover {
  cursor: pointer;
}

#logo img {
  width: 280px;
  height: auto;
}

.rbs-nav-link-icon {
  width: 24px;
  height: auto;
}

#menu {
  grid-column: 5/-1;
  grid-row: 1/-1;
  font-family: var(--font-body);
  font-size: 18px;
  font-weight: 600;
  justify-self: end;
  padding-right: 60px;
  display: grid;
  grid-template-columns: 1fr 5px 120px;
  grid-template-rows: auto;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 30px 0px 20px;
  overflow: hidden;
  align-self: center;
}

#menu ul li {
  float: left;
  display: grid;
  justify-items: center;
}

#menu ul li a {
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-primary);
}

#menu ul li a:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.rbs-nav-divider {
  width: 2px;
  height: 40px;
  border: 0;
  border-radius: 2px;
  background-color: #e1e1e1;
  align-self: center;
}

.rbs-nav-menu-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.rbs-nav-menu-toggle p {
  margin: 0;
  padding: 0;
  font-family: var(--font-jakarta);
  color: var(--color-primary);
}

.rbs-nav-menu-toggle button {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1024px) {
  #menu {
    grid-column: 5/25;
  }

  #menu ul li a {
    padding: 14px 30px;
  }
}

@media screen and (max-width: 1024px) {
  #menu ul li a {
    padding: 14px 24px;
    line-height: 10px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #menu {
    display: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  #menu {
    display: none;
  }
}
