<div id="header-container" class="animate__animated animate__fadeInDown">
  <div id="logo" [routerLink]="['./']">
    <img src="assets/images/Logo.png" />
  </div>
  <div id="menu">
    <div *ngIf="!displayMenu">
      <div *ngIf="loggedIn$ | async">
        <ul>
          <li>
            <a>
              <img
                class="rbs-nav-link-icon"
                src="../../../assets/images/search-icon.png"
              />
            </a>
          </li>
          <li>
            <a>
              <img
                class="rbs-nav-link-icon"
                src="../../../assets/images/bell-icon.png"
              />
            </a>
          </li>

          <li>
            <a>
              <img
                class="rbs-nav-link-icon"
                src="../../../assets/images/avatar.png"
              />
            </a>
          </li>
        </ul>
      </div>

      <div *ngIf="(loggedIn$ | async) === false">
        <ul>
          <li>
            <a href="https://www.linkedin.com" target="_blank">
              <img
                class="rbs-nav-link-icon"
                src="../../../assets/images/Linkedin_sqr.png"
              />
            </a>
          </li>
          <li>
            <a href="https://twitter.com" target="_blank">
              <img
                class="rbs-nav-link-icon"
                src="../../../assets/images/twitter_sqr.png"
              />
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com" target="_blank">
              <img
                class="rbs-nav-link-icon"
                src="../../../assets/images/instagram_sqr.png"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="displayMenu">
      <div *ngIf="loggedIn$ | async">
        <ul>
          <li>
            <a>Menu Item</a>
          </li>
          <li>
            <a>Menu Item </a>
          </li>
          <li>
            <a (click)="doLogout()">Log out </a>
          </li>
        </ul>
      </div>
      <div *ngIf="(loggedIn$ | async) === false">
        <ul>
          <li>
            <a>Terms & Conditions</a>
          </li>
          <li>
            <a>Privacy Policy</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="rbs-nav-divider"></div>
    <div class="rbs-nav-menu-toggle">
      <button (click)="toggleMenu()" *ngIf="!displayMenu">
        <svg
          width="30"
          height="20"
          viewBox="0 0 30 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.66667 20C1.19445 20 0.798339 19.84 0.478339 19.52C0.158339 19.2 -0.00110534 18.8044 5.76701e-06 18.3333C5.76701e-06 17.8611 0.160006 17.465 0.480006 17.145C0.800006 16.825 1.19556 16.6656 1.66667 16.6667H28.3333C28.8055 16.6667 29.2017 16.8267 29.5217 17.1467C29.8417 17.4667 30.0011 17.8622 30 18.3333C30 18.8056 29.84 19.2017 29.52 19.5217C29.2 19.8417 28.8044 20.0011 28.3333 20H1.66667ZM1.66667 11.6667C1.19445 11.6667 0.798339 11.5067 0.478339 11.1867C0.158339 10.8667 -0.00110534 10.4711 5.76701e-06 10C5.76701e-06 9.52778 0.160006 9.13167 0.480006 8.81167C0.800006 8.49167 1.19556 8.33222 1.66667 8.33333H28.3333C28.8055 8.33333 29.2017 8.49333 29.5217 8.81333C29.8417 9.13333 30.0011 9.52889 30 10C30 10.4722 29.84 10.8683 29.52 11.1883C29.2 11.5083 28.8044 11.6678 28.3333 11.6667H1.66667ZM1.66667 3.33334C1.19445 3.33334 0.798339 3.17334 0.478339 2.85334C0.158339 2.53334 -0.00110534 2.13778 5.76701e-06 1.66667C5.76701e-06 1.19445 0.160006 0.798339 0.480006 0.478339C0.800006 0.158339 1.19556 -0.00110534 1.66667 5.767e-06H28.3333C28.8055 5.767e-06 29.2017 0.160006 29.5217 0.480006C29.8417 0.800006 30.0011 1.19556 30 1.66667C30 2.13889 29.84 2.535 29.52 2.855C29.2 3.175 28.8044 3.33445 28.3333 3.33334H1.66667Z"
            fill="black"
          />
        </svg>
      </button>

      <button (click)="toggleMenu()" *ngIf="displayMenu">
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M30 15C30 23.2845 23.2845 30 15 30C6.7155 30 0 23.2845 0 15C0 6.7155 6.7155 0 15 0C23.2845 0 30 6.7155 30 15ZM10.455 10.455C10.6659 10.2443 10.9519 10.126 11.25 10.126C11.5481 10.126 11.8341 10.2443 12.045 10.455L15 13.41L17.955 10.455C18.1683 10.2563 18.4503 10.1481 18.7418 10.1532C19.0332 10.1584 19.3113 10.2764 19.5174 10.4826C19.7236 10.6887 19.8416 10.9668 19.8468 11.2582C19.8519 11.5497 19.7437 11.8317 19.545 12.045L16.59 15L19.545 17.955C19.7437 18.1683 19.8519 18.4503 19.8468 18.7418C19.8416 19.0332 19.7236 19.3113 19.5174 19.5174C19.3113 19.7236 19.0332 19.8416 18.7418 19.8468C18.4503 19.8519 18.1683 19.7437 17.955 19.545L15 16.59L12.045 19.545C11.8317 19.7437 11.5497 19.8519 11.2582 19.8468C10.9668 19.8416 10.6887 19.7236 10.4826 19.5174C10.2764 19.3113 10.1584 19.0332 10.1532 18.7418C10.1481 18.4503 10.2563 18.1683 10.455 17.955L13.41 15L10.455 12.045C10.2443 11.8341 10.126 11.5481 10.126 11.25C10.126 10.9519 10.2443 10.6659 10.455 10.455Z"
            fill="black"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
