/* You can add global styles to this file, and also import other style files */

@import url("./assets/styles/form-styles.scss");

html,
body {
  height: 100%;
}
@font-face {
  font-family: "Sora";
  src: url("./assets/Fonts/Sora-VariableFont_wght.ttf");
}
body {
  margin: 0;
  font-family: Sora, "Helvetica Neue", sans-serif;
  background-color: var(--color-background);
}

// colors
:root {
  --color-primary: #383c42;
  --color-secondary: #8a8a8a;
  --color-brand-red: #ff153c;
  --color-brand-blue: #6c8fff;
  --color-brand-blue-disabled: rgba(108, 143, 255, 0.61);
  --color-background: #f5f5f5;
  --color-surface: #f0f3f8;
  --color-warn: #ff0000;
}

// Typography
.font-large {
  color: var(--color-primary);
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 65px;
}

.font-title {
  color: var(--color-primary);
  font-family: Sora;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 46.5px;
}

.font-heading {
  color: var(--color-primary);
  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.font-sub-heading {
  color: var(--color-primary);
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.font-body {
  color: var(--color-secondary);
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
