<div id="expenses-overview-container">
  <div id="expenses-overview-title">
    <p class="font-heading">Expenses Overview</p>
  </div>
  <div id="expenses-overview-data">
    <div *ngFor="let data of expensesData">
      <app-expense-item [expensesData]="data"></app-expense-item>
    </div>
  </div>
</div>
