<div id="stats-overview-container">
  <div id="stats-overview-metadata">
    <div id="stats-overview-metadata-title">
      <p class="font-heading">Stats Overview</p>
      <p class="font-body">01/01/23 - 01/02/23</p>
    </div>

    <div id="stats-overview-metadata-actions">
      <ul class="font-body">
        <li>Today</li>
        <li>Week</li>
        <li>Month</li>
        <li><b>Year</b></li>
        <li><button>Download CSV</button></li>
      </ul>
    </div>
  </div>
  <div id="stats-overview-chart-container">
    <canvas id="statsChart">{{ chart }}</canvas>
  </div>
</div>
