#stats-overview-container {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: var(--color-surface);
}

#stats-overview-chart-container {
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

#stats-overview-metadata {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

#stats-overview-metadata-title p {
  margin: 2px;
  padding: 2px;
}

#stats-overview-metadata-actions {
  width: 100%;
  display: flex;
  align-items: center;
}

#stats-overview-metadata-actions ul {
  width: 90%;
  display: flex;
  justify-content: end;
  align-items: center;
  list-style-type: none;
}

#stats-overview-metadata-actions ul li {
  width: auto;
  margin-right: 15px;
}

#stats-overview-metadata-actions ul li button {
  font-family: var(--font-body);
  color: var(--color-primary);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--color-primary);
  border-radius: 25px;
  width: 159px;
  height: 40px;
}
