#rbs-right {
  position: absolute;
  top: 18%;
  right: 8%;
  z-index: 10;
}

#rbs-right-mobile {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: center;
  justify-items: center;
}

#rbs-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  overflow: hidden;
  margin-bottom: 30px;
}

#rbs-container img {
  width: 30%;
  height: auto;
  margin-top: calc(18% - 112px);
  margin-left: 8%;
  margin-bottom: 20px;
}

#rbs-container h2 {
  width: 50%;
  margin-left: 8%;
  margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #rbs-right {
    // display: none;
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    // margin-bottom: 40px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  #rbs-right {
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    margin-top: 80px;
  }

  #rbs-container {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #rbs-right {
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    margin-top: 80px;
  }

  #rbs-container {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #rbs-right {
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    margin-top: 80px;
  }

  #rbs-container {
    margin-bottom: 0px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  #rbs-right {
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    margin-top: 80px;
  }

  #rbs-container {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1441px) {
  .rbs-footer-conteiner {
    width: 30%;
    margin-left: 18%;
  }

  #rbs-right {
    right: 14%;
  }
}
