<div id="rbs-container">
  <div>
    <img src="../../assets/images/illustration.png" />
  </div>
  <h2 class="animate__animated animate__fadeInUp font-large">
    Experience a new frontier in Banking!
  </h2>
</div>

<div id="rbs-right" class="animate__animated animate__fadeInRight">
  <router-outlet></router-outlet>
</div>
