<div id="summary-stats-chart-container">
  <div id="summary-stats-chart-chart">
    <div>
      <div id="summary-stats-chart-chart-bg"></div>
      <div
        id="summary-stats-chart-chart-fg"
        [style.width.%]="
          (targetData.achievedValue / targetData.targetValue) * 100
        "
      ></div>
    </div>
    <p class="font-body">{{ targetData.caption }}</p>
  </div>

  <div id="summary-stats-chart-value">
    <p class="font-heading">${{ targetData.targetValue }}k</p>
  </div>
</div>
