#summary-stats-chart-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  grid-template-rows: auto;
  //   align-items: center;
}
#summary-stats-chart-value p {
  padding: 0;
  margin: 0;
}

#summary-stats-chart-chart div {
  width: 100%;
  height: 23px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#summary-stats-chart-chart-bg {
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  grid-column: 1/-1;
  grid-row: 1/-1;
  border: 0;
  border-radius: 2px;
}

#summary-stats-chart-chart-fg {
  height: 100%;
  background-color: var(--color-brand-red);
  z-index: 2;
  grid-column: 1/-1;
  grid-row: 1/-1;
  border: 0;
  border-radius: 2px;
}
