.details-form-widget {
  width: 454px;
  height: 690px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: inline-block;
}

.form-logo {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.details-form-widget-input {
  width: 100%;
  text-align: center;
  margin-bottom: 28px;
}
.form-field {
  width: 366px;
  height: 55px;
}

.details-form-widget-text {
  text-align: center;
  line-height: 34px;
  margin-top: 21px;
  font-style: normal;
  padding-left: 44px;
  padding-right: 44px;
}

.details-form-widget-input {
  margin-top: 42px;
}

.form-widget-link {
  margin-top: 42px;
  padding-left: 44px;
  text-decoration: none;
  cursor: pointer;
}

.form-widget-link span {
  text-decoration: underline;
}

.details-form-widget-next-btn {
  text-align: center;
  margin-top: 42px;
}

.details-form-widget-next-btn button {
  width: 366px;
  height: 60px;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 320px) and (max-width: 480px) {
  .details-form-widget {
    width: 100% !important;
    height: 800px;
    padding-bottom: 40px;
    box-shadow: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .details-form-widget {
    width: 100% !important;
    height: 800px;
    padding-bottom: 40px;
    box-shadow: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .details-form-widget {
    width: 100% !important;
    height: 800px;
    padding-bottom: 40px;
    box-shadow: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .details-form-widget {
    width: 100% !important;
    height: 800px;
    padding-bottom: 40px;
    box-shadow: none;
  }
}

@media screen and (min-width: 1441px) {
  .details-form-widget {
    width: 520px;
    height: 690px;
  }
}

@media screen and (max-width: 1440px) {
  .details-form-widget {
    width: 454px;
    height: 600px;
  }
  .details-form-widget-input {
    margin-bottom: 10px;
  }
  .form-field {
    height: 48px;
  }

  .details-form-widget-text {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .details-form-widget {
    width: 454px;
    height: 559px;
  }
  .details-form-widget-input {
    margin-bottom: 18px;
  }

  .details-form-widget-text {
    margin-top: 50px;
  }
}

//
// Forms
//
//

/* mat-icon-stepper selected color change  */
::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: var(--color-primary) !important;
}

/* input outline color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--color-primary) !important;
  /* opacity: 1!important; */
}

/* mat-input focused color */
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: var(--color-primary) !important;
}

/* mat-input error outline color */
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: red !important;
  opacity: 0.8 !important;
}

/* mat-input carent color */
::ng-deep .mat-input-element {
  caret-color: var(--color-primary) !important;
}

/* mat-input error carent color */
::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  caret-color: red !important;
}

/* mat-label normal state style */
::ng-deep .mat-form-field-label {
  color: var(--color-primary) !important;
}

/* mat-label focused style */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--color-primary) !important ;
}

/* mat-label error style */
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red !important;
}
