<div class="details-form-widget">
  <div class="form-logo">
    <img src="../../../../assets/images/logo-icon.png" />
  </div>
  <div class="details-form-widget-text">
    <p class="font-heading">Recover account<br /></p>
    <p class="font-body">
      Provide the email associated with your account and we'll send you a code
      to help you reset your password.
    </p>
  </div>

  <form [formGroup]="passwordResetForm" (ngSubmit)="sendVerificationCode()">
    <p class="details-form-widget-input first-widget-input">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="email"
          type="text"
          autocomplete="off"
          placeholder="Enter email..."
        />
        <mat-error
          *ngIf="passwordResetForm.controls['email'].errors?.['required']"
        >
          Please provide your email!
        </mat-error>
        <mat-error
          *ngIf="passwordResetForm.controls['email'].errors?.['email']"
        >
          Please provide a valid email!
        </mat-error>
        <mat-error
          *ngIf="passwordResetForm.controls['email'].errors?.['emailNoExist']"
        >
          This email does not exist on our server!
        </mat-error>
      </mat-form-field>
    </p>
    <p></p>

    <p class="details-form-widget-next-btn">
      <button
        [disabled]="passwordResetForm.invalid"
        [style.background]="
          passwordResetForm.valid
            ? 'var(--color-brand-blue)'
            : 'var(--color-brand-blue-disabled)'
        "
        (click)="sendVerificationCode()"
      >
        Send code
      </button>
    </p>
  </form>
  <div>
    <a class="font-body form-widget-link" [routerLink]="['../register']"
      >Don't have an account?&nbsp; <span>Sign up</span></a
    >
  </div>
</div>
