<div id="summary-stats-container">
  <div *ngFor="let d of statsData">
    <app-summary-stats-data [data]="d"></app-summary-stats-data>
  </div>
  <app-summary-stats-chart [targetData]="targetData"></app-summary-stats-chart>
</div>
