#summary-stats-container {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  height: 75px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  align-content: center;
  //   background-color: red;
}
