<div id="summary-stats-data-container">
  <div id="summary-stats-data-icon">
    <img src="{{ data.logo }}" />
  </div>
  <div id="summary-stats-data-figure">
    <p class="font-heading">{{ data.value }}</p>
    <p class="font-body data-caption">{{ data.caption }}</p>
  </div>
</div>
