#summary-stats-data-container {
  //   background-color: red;
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: auto;
  gap: 10px;
}

#summary-stats-data-figure p {
  margin: 0;
  padding: 0;
}

.data-caption {
  margin-top: 40px;
}
