#dashboard-container {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 88px;
  display: grid;
  grid-template-columns: 77% 23%;
  grid-template-rows: auto;
  width: calc(100% - 60px);
  height: calc(100vh - 88px);
}
